@import "tailwindcss";
@plugin '@tailwindcss/typography';

:root {
    --background: #ffffff;
    --foreground: #171717;
}

/* Define your theme tokens */
@theme {
    /* Neutral */
    --color-neutral-strongest: #28262c;
    --color-neutral-stronger: #49474d;
    --color-neutral-strong: #6a696d;
    --color-neutral-regular: #8c8a8e;
    --color-neutral-soft: #adabaf;
    --color-neutral-softer: #cecdcf;
    --color-neutral-softest: #efeef0;

    /* Purple */
    --color-purple-strongest: #ad0a37;
    --color-purple-stronger: #7e1d5e;
    --color-purple-strong: #971d6e;
    --color-purple-regular: #bd208b;
    --color-purple-soft: #d32fa4;
    --color-purple-softer: #ef77d6;
    --color-purple-softest: #ffcafa;

    /* Blue */
    --color-blue-strongest: #072a4a;
    --color-blue-stronger: #0b426f;
    --color-blue-strong: #054f87;
    --color-blue-regular: #01589b;
    --color-blue-soft: #0b94efa;
    --color-blue-softer: #36aefa;
    --color-blue-softest: #e0f0fe;

    /* Orange */
    --color-orange-strongest: #793012;
    --color-orange-stronger: #a3441e;
    --color-orange-strong: #db5a26;
    --color-orange-regular: #f15d22;
    --color-orange-soft: #ff6c32;
    --color-orange-softer: #ff7e4b;
    --color-orange-softest: #ffb89c;

    /* Yellow */
    --color-yellow-strongest: #6c3717;
    --color-yellow-stronger: #bf750f;
    --color-yellow-strong: #dd9915;
    --color-yellow-regular: #eeb42c;
    --color-yellow-soft: #f3c951;
    --color-yellow-softer: #f8e190;
    --color-yellow-softest: #fbf1c6;

    /* Green */
    --color-green-strongest: #1c2f04;
    --color-green-stronger: #395512;
    --color-green-strong: #537f0c;
    --color-green-regular: #76b409;
    --color-green-soft: #adeb30;
    --color-green-softer: #dffc9a;
    --color-green-softest: #f0fec9;

    /* Fonts */
    --font-archivo: "Archivo", sans-serif;
    --font-calibri: "Calibri", sans-serif;
}

@layer utilities {
    .text-gradient-starbright {
        background: linear-gradient(
            99deg,
            var(--color-blue-softer, #36aefa) 0%,
            var(--color-purple-regular, #bd208b) 37.5%,
            var(--color-orange-regular, #f15d22) 87.02%,
            var(--color-yellow-regular, #eeb42c) 99.99%
        );
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        color: transparent;
    }

    .bg-gradient-starbright {
        background: linear-gradient(
            99deg,
            var(--color-blue-softer, #36aefa) 0%,
            var(--color-purple-regular, #bd208b) 37.5%,
            var(--color-orange-regular, #f15d22) 87.02%,
            var(--color-yellow-regular, #eeb42c) 99.99%
        ) !important;
    }

	.gradient-border {
        transition:250ms;
		border: 2px solid transparent;
		background:
			linear-gradient(var(--btn-bg, #28262c), var(--btn-bg, #28262c)) padding-box,
			linear-gradient(98.51deg, #36AEFA 0%, #BD208B 37.5%, #F15D22 87.02%, #EEB42C 99.99%) border-box;
	}

    .gradient-border.active,
    .gradient-border:hover {
         background: linear-gradient(
            99deg,
            var(--color-blue-softer, #36aefa) 0%,
            var(--color-purple-regular, #bd208b) 37.5%,
            var(--color-orange-regular, #f15d22) 87.02%,
            var(--color-yellow-regular, #eeb42c) 99.99%
        );       
    }

	.gradient-border-left {
		border-left: 4px solid;
        border-image: linear-gradient(to bottom, #36AEFA, #B32992, #DE464B) 1;

	}
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
}

@keyframes marquee {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-50%);
    }
}

.w-\[240px\] {
    width: 240px;
}
.text-\[60px\] {
    font-size: 60px;
}

html {
  scroll-behavior: smooth;
}

.bg-white {
    background-color:#FFF;
}

.case-study img {
    width:100% !important;
    border-radius: 8px;
}

.text-white strong {
    color: #fff !important;
}

.bg-\[\#38363C\] {
    background-color:#38363C;
}

.text-\[\#5F5F5F\] {
    color:#5F5F5F;
}

.text-white-important {
    color:#FFF !important;
}

.bg-\[\#49474D\] {
    background-color:#49474D;
}

.bg-\[\#252328\] {
    background-color:#252328;
}

.max-w-\[1200px\] {
    max-width: 1200px;
}

.h-70 {
    height: calc(var(--spacing) * 70);
}

.animate-marquee {
    display: flex;
    width: 200%;
    animation: marquee 30s linear infinite;
}

body {
    background: var(--color-neutral-strongest);
    color: var(--foreground);
    font-family: var(--font-archivo);
}

.max-w-\[1600px\] {
    max-width: 1600px;
}